@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
}

#root {
    height: 100vh;
}

.styled_scrollbar::-webkit-scrollbar {
    width: 10px;
}

.styled_scrollbar::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: rgba(173, 173, 173, 0.2);
}

.styled_scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(173, 173, 173, 0.2);
    border-radius: 20px;
}

.styled_scrollbar_hovered:hover .styled_scrollbar::-webkit-scrollbar-track {
    background-color: rgba(187, 187, 187, 0.2);
}

.styled_scrollbar_hovered:hover .styled_scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(105, 105, 105, 0.5);
}